.toggle-password {
    position: absolute;
    top: 52.5%;
    right: 23px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px; /* Adjust the size of the icon */
    height: 20px;
}

