<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="/static/logo.png" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
        </div>
    </header>
    <div class="background-container">
        <img src="static/workout-image.png" class="background-image active">
        <img src="static/workout-image2.png" class="background-image">
        <img src="static/workout-image3.png" class="background-image">
        <img src="static/workout-image4.png" class="background-image">

        <div class="form-container">
            <form action="password-reset.html" class="form forgot-form">
                <h2 class="title">Forgot Password</h2>
                <div class="input-field">
                    <input type="email" placeholder="Enter your email" required>
                </div>
                <button type="submit" class="btn">Submit</button>
                <p class="login-link">Remembered your password? <a href="login.html">Login here</a></p>
            </form>
        </div>
    </div>
    <footer>
        <p>
            Your Fitness Journey Together...
        </p>
    </footer>
    <script src="static/script.js"></script>
</body>
</html>

