<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="/static/logo.png" type="image/png">

</head>
<body>
    <header>
        <div class="logo">
        </div>
    </header>
    <div class="background-container">
        <img src="static/workout-image.png" class="background-image active">
        <img src="static/workout-image2.png" class="background-image">
        <img src="static/workout-image3.png" class="background-image">
        <img src="static/workout-image4.png" class="background-image">

        <div class="form-container">
            <form action="success.html" class="form register-form">
                <h2 class="title">Register</h2>
                <div class="input-field">
                    <input type="text" placeholder="First Name" required>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Last Name" required>
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn">Register</button>
                <p class="login-link">Already have an account? <a href="login.html">Login here</a></p>
            </form>
        </div>
    </div>
    <footer>
        <p>
            Your Fitness Journey Together...
        </p>
    </footer>
    
    <script src="static/script.js"></script>
</body>
</html>

