{% extends "base.html" %}

{% block title %}Login - FitConnect{% endblock %}

{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="FitConnect Logo" class="logo-image">
    </a>
{% endblock %}

{% block background_images %}
<img src="{{ url_for('static', filename='images/workout-image.png') }}" class="background-image active">
<img src="{{ url_for('static', filename='images/workout-image2.png') }}" class="background-image">
<img src="{{ url_for('static', filename='images/workout-image3.png') }}" class="background-image">
<img src="{{ url_for('static', filename='images/workout-image4.png') }}" class="background-image">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="{{ url_for('login') }}" method="POST">
    <h2 class="title">Login</h2>
    <div class="mb-3 position-relative">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3 position-relative">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        <span class="position-absolute top-50 end-0 translate-middle-y me-3 toggle-password" id="togglePassword">
            <i class="bi bi-eye"></i>
        </span>
    </div>
    
    <button type="submit" class="btn">Login</button>
    <p class="register-link">Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
</form>
{% endblock %}